# Heroes Of Pymoli Analysis

-  Although the total number of players is 573, the total number of purchases is 780. This shows that many players are repeat customers.
-  Of those 573 players, 81.15% of them are Male users. This shows that Heroes of Pymoli predominantly caters to the interests of Males.
-  Also, 45.20% of the game's users fall between the ages of 20-24. A good target market would probably be Males between the ages of 20-24.
-  Although Retribution Axe	was the most expensive item at $4.14, it still was one of the top 5 most popular items purchased. This shows that an item that enhances a player's experience will be purchased regardless of it's price comparison to other items.

In [1]:
#Dependencies
import pandas as pd

In [2]:
#File path
file = "Resources/purchase_data.json"
#File read
purchase_data= pd.read_json(file)
#View file data
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

### Player Count

In [3]:
#Calculate amount of players
player_count = len(purchase_data["SN"].unique())
#Create DataFrame 
player_count_df = pd.DataFrame([{"Total Players": player_count}])
#Reset index to "Total Players" instead of numbers OPTIONAL
player_count_df.set_index("Total Players", inplace=True)
player_count_df

Empty DataFrame
Columns: []
Index: [573]

### Purchasing Analysis (Total)

In [4]:
#Calculate number of unique items
items = len(purchase_data["Item ID"].unique())
#Calculate total number of purchases
total_purchases = purchase_data["Price"].count()
#Calculate total revenue
total_revenue = purchase_data["Price"].sum()
#Calculate average purchase price per item
average_item_price = total_revenue/total_purchases

#Create Purchase Analysis DataFrame
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [items],
                                    "Average Price": [average_item_price],
                                    "Number of Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue]}, columns=["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"])

#Format Purchase Analysis DataFrame
purchase_analysis_df.style.format({"Average Price": "${:.2f}","Total Revenue": "${:,.2f}"})

### Gender Demographics

In [5]:
#Clean player count
no_dubs = purchase_data.drop_duplicates(["SN"], keep="last") 
#Calculate number of players for each possible gender value
gender_counts= no_dubs["Gender"].value_counts().reset_index()
#Calculate percent of players from each gender value
gender_counts["Percentage of Players"] = gender_counts["Gender"]/player_count * 100
#Rename columns
gender_counts.rename(columns={"index":"","Gender":"Total Count"}, inplace=True)
#Set index as gender
gender_counts.set_index([""], inplace=True)
#Format Gender Demographics DataFrame
gender_counts.style.format({"Percentage of Players":"{:.2f}%"})

### Purchasing Analysis (Gender)

In [6]:
#Create DataFrame that counts number of purchases per gender
gender_purchase_count_df = pd.DataFrame(purchase_data.groupby("Gender")["Gender"].count())
#Create DataFrame that calculates "Total Purchase Value" per gender
gender_total_purchase_values_df = pd.DataFrame(purchase_data.groupby("Gender")["Price"].sum())
#Merge above DataFrames 
gender_purchase_analysis_df = pd.merge(gender_purchase_count_df,gender_total_purchase_values_df,left_index=True,right_index=True)
#Rename columns
gender_purchase_analysis_df.rename(columns={"Gender":"Purchase Count","Price":"Total Purchase Value"}, inplace=True)
#Calculate "Average Purchase Price"
gender_purchase_analysis_df["Average Purchase Price"] = gender_purchase_analysis_df["Total Purchase Value"]/gender_purchase_analysis_df["Purchase Count"]
#Merge above DataFrame with Gender Demographics DataFrame 
gender_purchase_analysis_df = gender_purchase_analysis_df.merge(gender_counts, left_index=True,right_index=True)
#Calculate "Normalized Totals"
gender_purchase_analysis_df["Normalized Totals"] = gender_purchase_analysis_df["Total Purchase Value"]/gender_purchase_analysis_df["Total Count"]
#Delete unwanted columns
del gender_purchase_analysis_df["Total Count"]
del gender_purchase_analysis_df["Percentage of Players"]
#Format Purchasing Analysis DataFrame (Gender) 
gender_purchase_analysis_df.style.format({"Total Purchase Value":"${:,.2f}","Average Purchase Price":"${:.2f}","Normalized Totals":"${:.2f}"})

### Age Demographics

In [7]:
#Create a column "age_range" based on conditional of age range
purchase_data.loc[(purchase_data["Age"] < 10), "age_range"] = "<10"
purchase_data.loc[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14), "age_range"] = "10 - 14"
purchase_data.loc[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19), "age_range"] = "15 - 19"
purchase_data.loc[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24), "age_range"] = "20 - 24"
purchase_data.loc[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29), "age_range"] = "25 - 29"
purchase_data.loc[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34), "age_range"] = "30 - 34"
purchase_data.loc[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39), "age_range"] = "35 - 39"
purchase_data.loc[(purchase_data["Age"] >= 40), "age_range"] = "40+"

#Clean player count
no_dubs_age = purchase_data.drop_duplicates(["SN"], keep="last") 
#Calculate number of players for each possible age_range
age_counts= no_dubs_age["age_range"].value_counts()
#Reset index
age_counts=age_counts.reset_index()
#Sort index
age_counts= age_counts.sort_values("index")
#Calculate percent of players from each age_range
age_counts["Percentage of Players"] = age_counts["age_range"]/player_count
#Rename Columns
age_counts.rename(columns={"index":" ","age_range":"Total Count"}, inplace=True)
#Set index
age_counts=age_counts.set_index(" ")
#Format Age Demographics DataFrame
age_counts.style.format({"Percentage of Players":"{:.2%}"})

### Purchasing Analysis (Age)

In [8]:
#Create a column "age_range" based on conditional of age range
purchase_data.loc[(purchase_data["Age"] < 10), "age_range"] = "<10"
purchase_data.loc[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14), "age_range"] = "10 - 14"
purchase_data.loc[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19), "age_range"] = "15 - 19"
purchase_data.loc[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24), "age_range"] = "20 - 24"
purchase_data.loc[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29), "age_range"] = "25 - 29"
purchase_data.loc[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34), "age_range"] = "30 - 34"
purchase_data.loc[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39), "age_range"] = "35 - 39"
purchase_data.loc[(purchase_data["Age"] >= 40), "age_range"] = "40+" 


#Calculate "Purchase Count"
purch_count_age_df = pd.DataFrame(purchase_data.groupby("age_range")["SN"].count())
#Calculate "Average Purchase Price"
average_purch_price_age_df = pd.DataFrame(purchase_data.groupby("age_range")["Price"].mean()) 
#Merge above DataFrames
age_demographics_df = pd.merge(purch_count_age_df, average_purch_price_age_df, left_index=True, right_index=True)
#Rename columns
age_demographics_df.rename(columns={"SN":"Purchase Count","Price":"Average Purchase Price"}, inplace=True)
#Calculate "Total Purchase Value"
age_demographics_df["Total Purchase Value"] = age_demographics_df["Average Purchase Price"] * age_demographics_df["Purchase Count"]
#Merge current DataFrame with "Age Demographics DataFrame"
age_demographics_df = pd.merge(age_demographics_df, age_counts, left_index=True, right_index=True)
#Calculate "Normalized Totals"
age_demographics_df["Normalized Totals"] = age_demographics_df["Total Purchase Value"]/age_demographics_df["Total Count"]
#Delete unwanted columns
del age_demographics_df["Total Count"]
del age_demographics_df["Percentage of Players"]
#Format Purchasing Analysis DataFrame (Age)
age_demographics_df.style.format({"Total Purchase Value":"${:,.2f}","Average Purchase Price":"${:.2f}","Normalized Totals":"${:.2f}"})

### Top Spenders

In [9]:
#Group by screen name calculate "Purchase Count" per player
purch_count_top5_df = pd.DataFrame(purchase_data.groupby("SN")["Price"].count())
#Group by screen name calculate "Total Purchase Value" per player
purch_total_top5_df = pd.DataFrame(purchase_data.groupby("SN")["Price"].sum())
#Merge above DataFrames
top_spenders_df = pd.merge(purch_count_top5_df, purch_total_top5_df, left_index=True, right_index=True)
#Group by screen name, calculate "Average Purchase Price" per player, add to current DataFrame
top_spenders_df["Average Purchase Price"] = purchase_data.groupby("SN")["Price"].mean()
#Rename columns
top_spenders_df.rename(columns={"Price_x":"Purchase Count","Price_y":"Total Purchase Value"}, inplace=True)
#Sort "Top Sellers" DataFrame by Total Purchase Value (descending) & display top 5 spenders
top_spenders_df = top_spenders_df.sort_values(by=["Total Purchase Value"], ascending=False).head()
#Format Top Spenders DataFrame
top_spenders_df.style.format({"Total Purchase Value":"${:,.2f}","Average Purchase Price":"${:.2f}"})

### Most Popular Items

In [10]:
#Group by Item ID & calculate "Purchase Count" per player
top5_items_df = pd.DataFrame(purchase_data.groupby("Item ID")["Item ID"].count())
#Sort Item ID by "Purchase Count"
top5_items_df.sort_values(by=["Item ID"], ascending=False, inplace=True)
#Keep first 6 rows since there is a tie for 5th
top5_items_df = top5_items_df.iloc[0:6][:]
#Group by Item ID & calculate "Total Purchase Value" per player
purch_total_top5_items_df = pd.DataFrame(purchase_data.groupby("Item ID")["Price"].sum())
#Merge above DataFrames
most_popular_items_df = pd.merge(top5_items_df,purch_total_top5_items_df, left_index=True, right_index=True)
#Clean Item ID values
no_dubs_item = purchase_data.drop_duplicates(["Item ID"], keep="last")
#Merge clean Item ID with current DataFrame
most_popular_items_df = pd.merge(most_popular_items_df, no_dubs_item, left_index=True, right_on=["Item ID"])
#Keep wanted columns
most_popular_items_df = most_popular_items_df[["Item ID","Item Name","Item ID_x","Price_y","Price_x"]]
#Set Item ID & Item Name as indices
most_popular_items_df.set_index(["Item ID", "Item Name"], inplace=True)
#Rename columns
most_popular_items_df.rename(columns={"Item ID_x":"Purchase Count","Price_y":"Item Price","Price_x":"Total Purchase Value"}, inplace=True)
#Format Most Popular Items DataFrame
most_popular_items_df.style.format({"Total Purchase Value":"${:,.2f}","Item Price":"${:.2f}"})

### Most Profitable Items

In [11]:
#Group by Item ID & calculate "Purchase Count" per player
top5_items_df = pd.DataFrame(purchase_data.groupby("Item ID")["Item ID"].count())
#Group by Item ID & calculate "Total Purchase Value" per player
purch_total_top5_items_df = pd.DataFrame(purchase_data.groupby("Item ID")["Price"].sum())
#Merge above DataFrames
most_popular_items_df = pd.merge(top5_items_df,purch_total_top5_items_df, left_index=True, right_index=True)
#Clean Item ID values
no_dubs_item = purchase_data.drop_duplicates(["Item ID"], keep="last")
#Merge clean Item ID with current DataFrame
most_popular_items_df = pd.merge(most_popular_items_df, no_dubs_item, left_index=True, right_on=["Item ID"])
#Keep wanted columns
most_popular_items_df = most_popular_items_df[["Item ID","Item Name","Item ID_x","Price_y","Price_x"]]
#Set Item ID & Item Name as indices
most_popular_items_df.set_index(["Item ID", "Item Name"], inplace=True)
#Rename columns
most_popular_items_df.rename(columns={"Item ID_x":"Purchase Count","Price_y":"Item Price","Price_x":"Total Purchase Value"}, inplace=True)
#Sort by Total Purchase Value for most profitable (descending) & display top 5 most profitable items 
most_popular_items_df = most_popular_items_df.sort_values(by=["Total Purchase Value"], ascending=False).head(5)
#Format Most Popular Items DataFrame
most_popular_items_df.style.format({"Total Purchase Value":"${:,.2f}","Item Price":"${:.2f}"})